body {
    font-family:Arial, sans-serif;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    background-color: #f4f4f4;    
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 1200px;
}
.contact-section {
    margin-top: 100px;    
    color: #c6c6c6;
    padding: 40px;
    border-radius: 8px;
    max-width: 560px;
}

.contact-section h1,
.contact-section p {
    margin-bottom: 20px;
}

.contact-section form input[type="text"],
.contact-section form input[type="email"],
.contact-section form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    
}
.wrapper{
    display: flex;
    
    justify-content: space-between;
          
}

input[type="email"]{
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
input[type="tel"]{
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    
}
.label-name{
    margin-bottom: 10px;
}
.contact-section form button {
    background-color: #6054de;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

.contact-info{   
    color: #c6c6c6;;
    padding-top: 34px;
    padding-left: 50px;
    margin-top: 100px;   
    border-radius: 8px;
    width: 500px;
    
}
.contact-us{
    color: white;
    font-size: 22px;
}
.contact-us span{
    color: #01cabd;
}
.contact-paragraph{
    line-height: 30px;
}
.contact-method{
    margin-top: 50px;
}